@import "@fontsource/nunito-sans/200.css";
@import "@fontsource/nunito-sans/300.css";
@import "@fontsource/nunito-sans/400.css";
@import "@fontsource/nunito-sans/500.css";
@import "@fontsource/nunito-sans/600.css";
@import "@fontsource/nunito-sans/700.css";
@import "@fontsource/nunito-sans/800.css";
@import "@fontsource/nunito-sans/900.css";

@import "@fontsource/mulish/200.css";
@import "@fontsource/mulish/300.css";
@import "@fontsource/mulish/400.css";
@import "@fontsource/mulish/500.css";
@import "@fontsource/mulish/600.css";
@import "@fontsource/mulish/700.css";
@import "@fontsource/mulish/800.css";
@import "@fontsource/mulish/900.css";

@import "@fontsource/unbounded/200.css";
@import "@fontsource/unbounded/300.css";
@import "@fontsource/unbounded/400.css";
@import "@fontsource/unbounded/500.css";
@import "@fontsource/unbounded/600.css";
@import "@fontsource/unbounded/700.css";
@import "@fontsource/unbounded/800.css";
@import "@fontsource/unbounded/900.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: #fff !important;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 20px;
    border: 5px solid #fff;
    cursor: grab;
}

*::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

*::-webkit-scrollbar-thumb:hover {
    border: 3px solid #fff;
}

:root {
    --white: #fff;
    --orange: #FFA22D;
    --violet: #4A49C4;
    --dark: #454545;
    --sizeH1: clamp(1.25rem, 0.9531rem + 1.3575vw, 3.125rem);
    --sizeH2: clamp(1rem, 0.7624rem + 1.086vw, 2.5rem);
    --sizeH3: clamp(1rem, 0.8812rem + 0.543vw, 1.75rem);
    --sizeText: clamp(0.75rem, 0.6906rem + 0.2715vw, 1.125rem);
    --mulish: 'Mulish', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;
    --unbounded: 'Unbounded', sans-serif;
}

.pageTitle {
    font-family: var(--nunito);
    font-size: var(--sizeH1);
    color: var(--white);
    line-height: 1.25em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.subTitle {
    font-family: var(--nunito);
    font-size: var(--sizeH2);
    color: var(--white);
    line-height: 1.25em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.text {
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--white);
    line-height: 1.5em;
    font-weight: 600;
}

.text:not(:last-child) {
    margin-bottom: 14px;
}

.glass {
    position: relative;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px) saturate(120%);
    -webkit-backdrop-filter: blur(6px) saturate(120%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.25);
}

.page,
.siteHeader,
.siteFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px 100px;
    gap: 50px;
    overflow: hidden;
}

.page:before,
.siteHeader:before,
.siteFooter:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0E0D588C;
    z-index: -1;
}

.page:after,
.siteHeader:after,
.siteFooter:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/images/back.webp');
    background-size: 100%;
    background-repeat: repeat;
    z-index: -2;
}

.page .container,
.siteHeader .container,
.siteFooter .container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Хедер */
.siteHeader .container .pageTitleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.siteHeader .container .pageTitleWrapper .pageTitleContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.siteHeader .container .pageTitleWrapper .pageTitleContent .breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.siteHeader .container .pageTitleWrapper .pageTitleContent .breadcrumbs .breadcrumbItem {
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--white);
    line-height: 1.5em;
    font-weight: 600;
}

/* Футер */
.siteFooter .container .oneSection {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
}

.siteFooter .container .oneSection .logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.siteFooter .container .oneSection .sectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.siteFooter .container .oneSection .sectionWrapper .legalInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.siteFooter .container .oneSection .sectionWrapper .legalInfo .text {
    font-size: 16px;
}

.siteFooter .container .oneSection .sectionWrapper .legalInfo .legalLink:last-child {
    margin-left: auto;
}

.siteFooter .container .secondSection .menu .menuList {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 25px;
}

.siteFooter .container .thirdSection .sectionWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.siteFooter .container .thirdSection .sectionItem {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 25px;
}

.siteFooter .container .fourthSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.siteFooter .container .fourthSection .sectionItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 25px;
}

.siteFooter .container .fourthSection .sectionItem .review .reviewIcon {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.siteFooter .container .fourthSection .socialBlock {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
}

/* Почему мы */
.whyUs .whyUsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.whyUsWrapper.is-swiper {
    display: block;
}

.whyUsWrapper.is-swiper .swiper-wrapper {
    display: flex;
}

.whyUsWrapper.is-swiper .swiper-slide {
    display: flex;
    height: auto;
}

.whyUs .whyUsWrapper .whyUsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.whyUs .whyUsWrapper .whyUsItem .whyUsIcon {
    border-radius: 50%;
    line-height: 0;
    padding: 15px;
    box-shadow: 5px 5px 20px 0px #00000040;
}

.whyUs .whyUsWrapper .whyUsItem .whyUsIcon svg {
    width: 75px;
    height: 75px;
}

.whyUs .whyUsWrapper .whyUsItem .whyUsTitle {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.whyUs .whyUsWrapper .whyUsItem .text {
    text-align: center;
}

/* О нас */
.about svg {
    width: 100%;
    height: 100%;
    margin-bottom: -75px;
}

.about .aboutWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.about .aboutWrapper .aboutContent .subTitle {
    margin-bottom: 14px;
    text-align: left;
}

.about .aboutImage {
    width: 100%;
    height: 375px;
    border-radius: 20px;
    object-fit: cover;
}

/* Тарифы */
.tarifSwiper .swiper-wrapper .glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
}

.tarifSwiper .swiper-wrapper .glass .tarifPhoto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.tarifWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    flex-grow: 1;
    width: 100%;
}

.tarifTitle {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
}

.tarifPrice {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--white);
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--violet);
    padding: 10px;
    border-radius: 100px;
    transform: rotate(-2.5deg);
    transition: 0.8s;
}

.tarifSwiper .swiper-wrapper .glass svg {
    width: 65px;
    height: 65px;
}

.tarifSwiper .swiper-wrapper .glass svg path:nth-child(1) {
    transition: 0.8s;
}

.tarifPremium.glass {
    border-radius: 200px;
    border: 3px solid #FFB900
}

.tarif .tarifPremium .tarifPremiumContent,
.tarif .tarifWar .tarifContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.tarif .tarifWar .tarifContent .text {
    margin-bottom: 0;
}

.tarif .tarifPremium {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    gap: 25px;
}

.tarif .tarifPremium .tarifWrapper {
    justify-content: flex-start;
}

.tarif .tarifPremium .tarifPhoto {
    width: 100%;
    height: 250px;
    border-radius: 50%;
}

.tarif .tarifWar {
    display: grid;
    grid-template-columns: 175px 1fr;
    align-items: center;
    gap: 25px;
}

.tarif .tarifWar .tarifPhoto {
    width: 100%;
    height: 175px;
    border-radius: 50%;
    object-fit: contain;
}

.tarif .tarifWar .tarifContent .tarifTitle span {
    color: var(--orange);
}

.tarifOptions {
    margin: 0 !important;
}

/* Услуги */
.serviceSwiper .swiper-wrapper .swiper-slide {
    position: relative;
    padding: 25px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.serviceSwiper .swiper-wrapper .swiper-slide .servicePhoto {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: -1;
}

.serviceSwiper .swiper-wrapper .swiper-slide .serviceWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    z-index: 1;
}


.serviceSwiper .swiper-wrapper .swiper-slide .serviceWrapper .serviceTitle {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
}

.serviceSwiper .swiper-wrapper .swiper-slide .serviceWrapper .text {
    margin: 0;
}

.serviceSwiper .swiper-wrapper .swiper-slide .serviceWrapper .servicePrice {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--violet);
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 100px;
    transform: rotate(-2.5deg);
    transition: 0.8s;

}

.serviceSwiper .swiper-wrapper .swiper-slide .serviceLink {
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--white);
    font-weight: 600;
    padding: 15px;
    justify-content: center;
    border-radius: 100px;
}

.serviceSwiper .swiper-wrapper .swiper-slide:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(122, 121, 244, 0.2) 50%, #7A79F4 100%);
    border-radius: 20px;
    z-index: 0;
}

.serviceSwiper .swiper-wrapper .swiper-slide:nth-child(3),
.serviceSwiper .swiper-wrapper .swiper-slide:nth-child(4) {
    justify-content: flex-end;
}

.serviceSwiper .swiper-wrapper .swiper-slide:nth-child(3) .serviceWrapper .servicePrice,
.serviceSwiper .swiper-wrapper .swiper-slide:nth-child(4) .serviceWrapper .servicePrice {
    color: var(--white);
    background-color: var(--violet);
}

.service .serviceOther {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.service .serviceOther .text {
    margin: 0;
}

.service .serviceOther .subTitle {
    font-size: var(--sizeH3);
    text-align: left;
}

.service .serviceOther .subTitle span {
    color: var(--orange);
}

/* Сертификат */
.giftWrapper {
    background-image: url('/public/images/bannerBack.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
    border-radius: 20px;
    position: relative;
}

.giftWrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.giftWrapper .giftContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    height: 450px;
    width: 50%;
}

.giftWrapper .glass {
    background: rgba(255, 255, 255, 0.35) !important;
}

.giftWrapper .giftContent .text:nth-child(1) {
    margin: 0;
    color: var(--violet);
}

.giftWrapper .giftContent .giftTitle {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--violet);
    font-weight: 700;
    text-transform: uppercase;
}

.giftWrapper .giftContent .button {
    margin-top: auto;
}

/* Команда */
.teamSwiper .swiper-wrapper .swiper-slide.glass {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    height: 600px;
}

.teamSwiper .swiper-wrapper .swiper-slide.glass .teamPhoto {
    position: absolute;
    top: auto;
    bottom: 12px;
    left: 0;
    width: 100%;
    height: 475px;
    object-fit: cover;
    border-radius: 20px;
    z-index: -2;
}

.teamSwiper .swiper-wrapper .swiper-slide.glass .teamContent {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    z-index: 3;
}

.teamSwiper .swiper-wrapper .swiper-slide.glass .teamName {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
}

.teamSwiper .swiper-wrapper .swiper-slide.glass .teamPosition.glass {
    padding: 15px;
    text-align: center;
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--white);
    font-weight: 600;
    line-height: 1;
}

.teamSwiper .swiper-wrapper .swiper-slide {
    transition: 0.5s;
}

.teamSwiper .swiper-wrapper .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.6;
    transform: scale(0.75);
}

.teamSwiper .swiper-wrapper .swiper-slide.glass:before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 12px;
    left: auto;
    right: 50%;
    width: calc(100% - 25px);
    height: 250px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #4A49C4 100%);
    border-radius: 20px;
    z-index: -1;
    transform: translateX(50%);
}

/* Сертификат */
.sertificate .text {
    margin: 0;
    text-align: center;
}

.sertificate .sertificateSwiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sertificate .sertificateSwiper .swiper-wrapper .swiper-slide .sertificatePhotoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sertificate .sertificateSwiper .swiper-wrapper .swiper-slide .sertificatePhotoWrapper:before {
    content: "";
    position: absolute;
    top: auto;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 75%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px) saturate(120%);
    -webkit-backdrop-filter: blur(6px) saturate(120%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.25);
}

.sertificate .sertificateSwiper .swiper-wrapper .swiper-slide .sertificatePhotoWrapper .sertificatePhoto {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
    transform: rotate(2.5deg);
}

.sertificate .sertificateSwiper .swiper-wrapper .swiper-slide .sertificateTitle {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}

.sertificate .sertificateSwiper .swiper-wrapper .swiper-slide .sertificateContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sertificate .sertificateSwiper .swiper-wrapper .swiper-slide .sertificateContent .sertificatePrice {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--violet);
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 100px;
    transform: rotate(-2.5deg);
    line-height: 1;
    transition: 0.8s;
}

/* Оффер */
.offer .text {
    text-align: center;
    margin: 0;
}

.offer .offerWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.offer .offerWrapper .offerItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.offer .offerWrapper .offerItem .offerPhotoWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.offer .offerWrapper .offerItem .offerPhotoWrapper:before {
    content: "";
    position: absolute;
    top: auto;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 75%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px) saturate(120%);
    -webkit-backdrop-filter: blur(6px) saturate(120%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.25);
    z-index: -1;
}

.offer .offerWrapper .offerItem .offerPhotoWrapper .offerPhoto {
    width: 100%;
    height: 375px;
    object-fit: contain;
}

.offer .offerWrapper .offerItem .offerTitle {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
}

.offer .offerWrapper .offerItem .offerPrice {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--violet);
    font-weight: 800;
    background-color: var(--white);
    padding: 10px;
    border-radius: 100px;
    transform: rotate(-2.5deg);
    line-height: 1;
    transition: 0.8s;
}

/* Точки полетов */
.flyPoint .flyPointWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.flyPointWrapper.is-swiper {
    display: block;
}

.flyPointWrapper.is-swiper .swiper-wrapper {
    display: flex;
}

.flyPointWrapper.is-swiper .swiper-slide {
    display: flex;
    height: auto;
}

.flyPoint .flyPointContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    position: relative;
}

.flyPoint .flyPointContent .flyPointPhoto {
    height: 325px;
}

.flyPoint .flyPointContent .flyPointName.glass {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: -50px;
    margin-right: 25px;
    gap: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.35) !important;
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--violet);
    font-weight: 600;
}

.flyPoint .flyPointContentOther {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.flyPoint .flyPointContentOther .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flyPoint .flyPointContentOther .content .subTitle {
    text-align: left;
}

/* Галерея */
.gallerySwiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
}

.gallerySwiper .swiper-wrapper .swiper-slide .galleryPhoto {
    height: 475px;
}

.gallerySwiper .swiper-wrapper .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.6;
    transform: scale(0.75);
}

/* FAQ */
.faq .accordion {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.faq .accordion .accordion-item {
    padding: 20px 0;
    cursor: pointer;
    border-bottom: 1px solid var(--white);
}

.faq .accordion .accordion-item .accordion-title {
    font-family: var(--nunito);
    font-size: var(--sizeH3);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
}

.faq .accordion .accordion-item .accordion-content {
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--white);
    font-weight: 400;
    padding-top: 15px;
    transition: 0.3s;
    display: none;
}

/* Старт точки */
.startPoint .text {
    text-align: center;
}

.startPoint iframe {
    border-radius: 20px;
}

/* Призыв к действию */
.recording {
    align-items: center;
}

.recording .subTitle span {
    color: var(--orange);
}

.recording .subTitle {
    position: relative;
}

.recording .subTitle:before {
    content: "";
    position: absolute;
    top: auto;
    left: auto;
    bottom: -50px;
    right: -35px;
    width: 90px;
    height: 90px;
    background-image: url('/public/images/svg/arrow-recording.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-15deg);
}

/* Меню */
.menu,
.menuList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 1;
}

.menu .logo .logoImage {
    width: 75px;
    height: auto;
    border-radius: 0px;
}

.menu .menuList .menuLink {
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
}

/* Свяжитесь с нами */
.socialBlock .socialWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.socialBlock .socialWrapper .glass {
    justify-content: center;
    padding: 10px 10px;
    width: 300px;
    font-family: var(--mulish);
    font-size: var(--sizeH3);
    font-weight: 800;
    color: var(--white);
    border-radius: 100px;
}

.socialBlock .socialWrapper .socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.socialBlock .socialWrapper .socialLink:not(.glass) svg {
    width: 35px;
    height: 35px;
}

/* Карусель */
.swiper {
    width: 100%;
    height: 100%;
}

.swiperNavigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    gap: 50px;
}

.whyUs .swiperNavigation,
.flyPoint .swiperNavigation {
    margin: 0 !important;
}

.swiper-button-prev.glass,
.swiper-button-next.glass {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    width: 20px;
    height: 20px;
}

.button {
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--violet);
    font-weight: 700;
    background-color: var(--orange);
    padding: 15px 60px;
    border-radius: 100px;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.button.glass {
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--white);
    padding: 15px 60px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px) saturate(120%);
    -webkit-backdrop-filter: blur(6px) saturate(120%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.25);
}


.swiperMobileNavigation {
    display: none;
}

/* Форма */
.formBlock {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 25px;
}

.formBlock .formPhoto {
    width: 100%;
    height: 450px;
    object-fit: contain;
}

.formBlock .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.formBlock .formWrapper .subTitle {
    text-align: left;
}

.formBlock .formWrapper .contactForm {
    display: flex;
    flex-direction: column;
    font-family: var(--mulish);
    gap: 12px;
}

.formBlock .formWrapper .contactForm .formRow {
    display: flex;
    flex-direction: column;
}

.formBlock .formWrapper .contactForm label {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 6px;
    font-size: var(--sizeText);
    margin: 0;
}

.formBlock .formWrapper .contactForm input[type="text"],
.formBlock .formWrapper .contactForm input[type="tel"] {
    border: 2px solid var(--white);
    background: transparent;
    color: var(--white);
    padding: 12px 10px;
    border-radius: 20px;
    font-family: var(--mulish);
    font-size: var(--sizeText);
}

.formBlock .formWrapper .contactForm input::placeholder {
    color: var(--white);
    opacity: 0.85;
}

.formBlock .formWrapper .contactForm input:focus {
    outline: none;
    box-shadow: none;
}

.formBlock .formWrapper .formCheckbox {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 8px;
}

.formBlock .formWrapper .formCheckbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.formBlock .formWrapper .error {
    color: #ffb3b3;
    font-size: 0.9rem;
    margin-top: 4px;
    display: none;
}

.formBlock .formWrapper .error.active {
    display: block;
}

/* Отзывы */
.reviews .reviewWrapper {
    display: grid;
    grid-template-columns: 1fr 275px;
    align-items: center;
    gap: 25px;
}

.reviews .reviewWrapper .reviewContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reviews .reviewWrapper .reviewContent .review.glass {
    padding: 10px;
    justify-content: center;
}

.reviews .reviewWrapper .reviewContent .review.glass .reviewIcon {
    width: auto;
    height: 40px;
}

.reviews .subTitle,
.reviews .text {
    margin: 0;
    text-align: left;
}

.reviews .reviewsSwiper {
    height: 475px;
    border-radius: 20px;
}

.reviews .reviewsSwiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.reviews .reviewsSwiper .swiper-wrapper .swiper-slide .authorIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-radius: 50%;
}

.reviews .reviewsSwiper .swiper-wrapper .swiper-slide .authorIcon svg {
    width: 35px;
    height: 35px;
}

.reviews .reviewsSwiper .swiper-wrapper .swiper-slide .reviewContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
}

.reviews .reviewsSwiper .swiper-wrapper .swiper-slide .reviewContent .reviewPhotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.reviews .reviewsSwiper .swiper-wrapper .swiper-slide .reviewContent .reviewPhotos .reviewPhoto {
    height: 175px;
}

.reviews .reviewsSwiper .swiper-wrapper .swiper-slide .reviewContent .text {
    text-align: left;
}

.reviews .reviewsSwiper .swiper-wrapper .swiper-slide .reviewContent .reviewMetaData {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews .reviewsSwiper .swiper-wrapper .swiper-slide .reviewContent .reviewMetaData .subTitle {
    text-align: left;
    font-size: var(--sizeH3);
}

.reviews .reviewsSwiper .swiper-pagination-bullet-active {
    background-color: var(--white);
}

img {
    pointer-events: none;
    line-height: 0;
}

a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: none;
}

ul,
ol {
    padding-left: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 1440px) {

    .page,
    .siteFooter {
        padding: 50px;
    }

    .page .container {
        max-width: 100%;
    }

    /* Тарифы */
    .tarifSwiper .swiper-wrapper .glass .tarifPhoto {
        width: 175px;
        height: 175px;
    }

    .tarifSwiper .swiper-wrapper .glass .tarifWrapper {
        flex-direction: row;
    }

    .tarifSwiper .swiper-wrapper .glass .tarifWrapper .tarifPrice {
        padding: 5px;
    }

    .tarifSwiper .swiper-wrapper .glass svg {
        width: 45px;
        height: 45px;
    }

    /* Призыв к действию */
    .recording .subTitle:before {
        bottom: -25px;
        right: -50px;
        width: 60px;
        height: 60px;
        transform: rotate(-30deg);
    }
}

@media (max-width: 1200px) {

    .page,
    .siteHeader,
    .siteFooter {
        padding: 25px;
    }

    *::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }


    *::-webkit-scrollbar-thumb {
        background: var(--orange);
    }

    .swiperMobileNavigation {
        display: flex;
    }

    /* Меню */
    .menu,
    .menuList {
        gap: 50px;
    }

    .menu .logo .logoImage {
        width: 50px;
    }

    /* Почему мы */
    .whyUs .whyUsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .whyUs .whyUsWrapper .whyUsItem .whyUsIcon {
        padding: 10px;
    }

    .whyUs .whyUsWrapper .whyUsItem .whyUsIcon svg {
        width: 50px;
        height: 50px;
    }

    /* О нас */
    .about svg {
        margin-bottom: -50px;
    }

    .about .aboutWrapper {
        grid-template-columns: 1fr;
    }

    /* Тарифы */
    .tarifPremium.glass {
        border-radius: 20px;
    }

    .tarif .tarifPremium .tarifPremiumContent,
    .tarif .tarifWar .tarifContent {
        gap: 10px;
    }

    .tarif .tarifPremium {
        grid-template-columns: 175px 1fr;
    }

    .tarif .tarifPremium .tarifWrapper {
        justify-content: flex-start;
    }

    .tarif .tarifPremium .tarifPhoto {
        height: 175px;
    }

    /* Услуги */
    .serviceSwiper .swiper-wrapper .swiper-slide {
        height: 300px;
    }

    /* Сертификат */
    .giftWrapper {
        padding: 25px;
    }

    .giftWrapper .giftContent {
        align-items: center;
        text-align: center;
        height: auto;
        width: 100%;
    }

    /* Команда */
    .teamSwiper .swiper-wrapper .swiper-slide.glass {
        padding: 25px;
        height: 500px;
    }

    .teamSwiper .swiper-wrapper .swiper-slide.glass .teamPhoto {
        height: 100%;
    }

    /* Оффер */
    .offer .offerWrapper .offerItem .offerPhotoWrapper:before {
        height: 70%;
    }

    .offer .offerWrapper .offerItem .offerPhotoWrapper .offerPhoto {
        height: 250px;
    }

    /* Форма */
    .formBlock {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .formBlock .formPhoto {
        height: 350px;
        order: 1;
    }

    .formBlock .formWrapper .subTitle {
        text-align: center;
    }

    /* Отзывы */
    .reviews .reviewsSwiper .swiper-wrapper .swiper-slide .reviewContent .reviewPhotos .reviewPhoto {
        height: 150px;
    }

    .reviews .reviewsSwiper .swiper-wrapper .swiper-slide .authorIcon {
        padding: 10px;
    }

    .reviews .reviewsSwiper .swiper-wrapper .swiper-slide .authorIcon svg {
        width: 30px;
        height: 30px;
    }

    /* Точки полетов */
    .flyPoint .flyPointWrapper {
        grid-template-columns: repeat(2, 1fr);
    }


    .flyPoint .flyPointContent .flyPointPhoto {
        height: 300px;
    }

    .flyPoint .flyPointContent .flyPointName.glass {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: -50px;
        margin-right: 25px;
        gap: 10px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.35) !important;
        font-family: var(--mulish);
        font-size: var(--sizeText);
        color: var(--violet);
        font-weight: 600;
    }

    .flyPoint .flyPointContentOther {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Галерея */
    .gallerySwiper .swiper-wrapper .swiper-slide .galleryPhoto {
        height: 350px;
    }

    /* Старт точки */
    .startPoint iframe {
        height: 300px;
    }

    /* Футер */
    .siteFooter .container .oneSection {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .siteFooter .container .oneSection .logo {
        width: 125px;
    }

    .siteFooter .container .oneSection .sectionWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .siteFooter .container .oneSection .sectionWrapper .legalInfo {
        flex-direction: column;
        align-items: center;
    }

    .siteFooter .container .oneSection .sectionWrapper .legalInfo .text {
        font-size: 14px;
    }

    .siteFooter .container .oneSection .sectionWrapper .legalInfo .legalLink:last-child {
        margin-left: 0px;
    }

    .siteFooter .container .secondSection .menu .menuList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 25px;
    }

    .siteFooter .container .thirdSection .sectionWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .siteFooter .container .fourthSection {
        flex-direction: column;
    }

    .siteFooter .container .fourthSection .sectionItem {
        justify-content: center;
    }

    .siteFooter .container .fourthSection .sectionItem .review .reviewIcon {
        width: 100%;
        height: 100%;
    }

    .siteFooter .container .fourthSection .socialBlock {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 700px) {

    .page,
    .siteHeader,
    .siteFooter {
        padding: 25px 10px;
        gap: 25px;
    }

    .glass {
        padding: 15px 10px;
    }

    /* Хедер */
    .siteHeader .container .pageTitleWrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .siteHeader .container .pageTitleWrapper .pageTitleContent {
        align-items: center;
        gap: 10px;
    }

    /* Меню */
    .menu,
    .menuList {
        gap: 10px;
        width: 100%
    }

    .menuList {
        justify-content: space-around;
    }

    .menu .logo {
        order: -1;
    }

    .menu .logo .logoImage {
        width: 30px;
    }

    /* Почему мы */
    .whyUs .whyUsWrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .whyUs .whyUsWrapper .whyUsItem {
        gap: 5px;
        padding: 10px;
    }

    .whyUs .whyUsWrapper .whyUsItem .whyUsIcon {
        padding: 10px;
    }

    .whyUs .whyUsWrapper .whyUsItem .whyUsIcon svg {
        width: 35px;
        height: 35px;
    }

    .whyUs .whyUsWrapper .whyUsItem .whyUsTitle {
        font-family: var(--nunito);
        font-size: var(--sizeH3);
        color: var(--white);
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    .whyUs .whyUsWrapper .whyUsItem .text {
        text-align: center;
    }

    /* О нас */
    .about svg {
        margin-bottom: -35px;
    }

    .about .aboutImage {
        height: 100%;
    }

    /* Свяжитесь с нами */
    .socialBlock .socialWrapper {
        flex-direction: column;
        gap: 10px;
    }

    .socialBlock .socialWrapper .glass {
        width: 100%;
    }

    .socialBlock .socialWrapper .socialIcons {
        order: 1;
    }

    /* Тарифы */
    .tarif .tarifPremium {
        grid-template-columns: 1fr;
    }

    .tarifSwiper .swiper-wrapper .glass .tarifPhoto {
        width: 100px;
        height: 100px;
    }

    .tarifPrice {
        font-size: var(--sizeText);
        padding: 5px;
    }

    .tarif .tarifPremium,
    .tarif .tarifWar {
        gap: 10px;
    }

    .tarif .tarifPremium .tarifWrapper {
        justify-content: flex-start;
    }

    .tarif .tarifPremium .tarifPhoto {
        height: 125px;
        border-radius: 20px;
    }

    .tarif .tarifWar {
        grid-template-columns: 1fr;
    }

    .tarif .tarifWar .tarifPhoto {
        border-radius: 20px;
        height: 125px;
        padding: 5px;
    }

    /* Услуги */
    .serviceSwiper .swiper-wrapper .swiper-slide {
        padding: 25px 10px;
    }

    .serviceSwiper .swiper-wrapper .swiper-slide .serviceWrapper .servicePrice {
        font-size: var(--sizeText);
        padding: 5px;
    }

    /* Сертификат */
    .giftWrapper {
        padding: 25px 10px;
    }

    /* Сертификат */
    .sertificate .sertificateSwiper .swiper-wrapper .swiper-slide .sertificateContent .sertificatePrice {
        font-size: var(--sizeText);
        padding: 5px;
    }

    /* Команда */
    .teamSwiper .swiper-wrapper .swiper-slide.glass {
        padding: 25px 10px;
        height: 300px;
    }

    .teamSwiper .swiper-wrapper .swiper-slide.glass .teamPhoto {
        object-fit: cover;
        border-radius: 30px;
    }

    .teamSwiper .swiper-wrapper .swiper-slide.glass:before {
        width: calc(100% - 10px);
        height: 175px;
    }

    /* Оффер */
    .offer .offerWrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .offer .offerWrapper .offerItem {
        align-items: center;
    }

    .offer .offerWrapper .offerItem .offerPhotoWrapper .offerPhoto {
        height: 75px;
    }

    .offer .offerWrapper .offerItem {
        align-items: flex-start;
        gap: 10px;
    }

    .offer .offerWrapper .offerItem .offerTitle {
        padding-top: 15px;
    }

    .offer .offerWrapper .offerItem .offerPrice {
        font-size: var(--sizeText);
        padding: 5px;
    }

    /* Форма */
    .formBlock .formPhoto {
        height: 100%;
    }

    /* Отзывы */
    .reviews .reviewWrapper {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .reviews .reviewWrapper .reviewContent {
        gap: 5px;
    }

    .reviews .reviewWrapper .reviewContent .review.glass .reviewIcon {
        height: 30px;
    }

    .reviews .subTitle,
    .reviews .text {
        text-align: center;
    }

    .reviews .reviewsSwiper {
        height: 225px;
    }

    .reviews .reviewsSwiper .swiper-wrapper .swiper-slide .reviewContent .reviewPhotos .reviewPhoto {
        height: 75px;
    }

    .reviews .reviewsSwiper .swiper-wrapper .swiper-slide .authorIcon.glass,
    .reviews .reviewsSwiper .swiper-wrapper .swiper-slide .reviewContent .reviewPhotos {
        display: none;
    }

    /* Точки полетов */
    .flyPoint .flyPointWrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .flyPoint .flyPointContent .flyPointPhoto {
        height: 100%;
    }

    .flyPoint .flyPointContent .flyPointName.glass {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: -50px;
        margin-right: 25px;
        gap: 10px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.35) !important;
        font-family: var(--mulish);
        font-size: var(--sizeText);
        color: var(--violet);
        font-weight: 600;
    }

    .flyPoint .flyPointContentOther {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Галерея */
    .gallerySwiper .swiper-wrapper .swiper-slide .galleryPhoto {
        height: 250px;
    }

    /* Старт точки */
    .startPoint iframe {
        height: 175px;
    }

    /* Призыв к действию */
    .recording .subTitle:before {
        display: none;
    }

    /* Футер */
    .siteFooter .container .oneSection .logo {
        width: 100px;
    }

    .siteFooter .container .oneSection .sectionWrapper .legalInfo {
        flex-direction: column;
        align-items: center;
    }

    .siteFooter .container .oneSection .sectionWrapper .legalInfo .text {
        font-size: 12px;
    }

    .siteFooter .container .oneSection .sectionWrapper .legalInfo .legalLink:last-child {
        margin-left: 0px;
    }

    .siteFooter .container .secondSection .menu .menuList {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .siteFooter .container .fourthSection .sectionItem {
        flex-direction: column;
        align-items: center;
    }
}