.tabsWrapper {
    align-items: flex-start;
}

.tabsWrapper .tabs {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 15px;
}

.tabsWrapper .tabs .tab-btn {
    font-family: var(--mulish);
    font-size: var(--sizeText);
    color: var(--white);
    line-height: 1.5em;
    font-weight: 600;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 20px;
    background: transparent;
    border: 1px solid transparent;
}

.tabsWrapper .tabs .tab-btn.active {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px) saturate(120%);
    -webkit-backdrop-filter: blur(6px) saturate(120%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.25);
}

.tabsWrapper .tab-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 25px;
}

.tabsWrapper .tab-content:not(.active) {
    display: none;
}

.tabsWrapper .tab-content .glightbox,
.tabsWrapper .tab-content .glightbox .galleryItem {
    height: 200px;
}

@media(max-width: 1200px) {
    .tabsWrapper .tab-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media(max-width: 700px) {
    .tabsWrapper {
        align-items: stretch;
    }

    .tabsWrapper .tabs {
        flex-direction: column;
        gap: 10px;
        padding: 15px 10px;
    }

    .tabsWrapper .tab-content {
        gap: 10px;
    }

    .tabsWrapper .tab-content .glightbox,
    .tabsWrapper .tab-content .glightbox .galleryItem {
        height: 125px;
    }
}