/* Выкладка маршрутов */
.route .subTitle {
    text-align: left;
}

.route .routeWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.route .routeWrapper .routeItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px;
    gap: 25px;
    height: 500px;
}

.route .routeWrapper .routeItem:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(122, 121, 244, 0.5) 70%, #7A79F4 100%);
    border-radius: 20px;
    z-index: 0;
}

.route .routeWrapper .routeItem .routePhoto {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.route .routeWrapper .routeItem .routeContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}

.route .routeWrapper .routeItem .routeContent .subTitle {
    font-size: var(--sizeH3);
    text-align: left;
}

.route .routeWrapper .routeItem .routeIcon.glass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    margin-top: auto;
}

.route .routeWrapper .routeItem .routeIcon svg {
    width: 25px;
    height: 25px;
}

/* Контент маршрута */
.routePageContent {
    gap: 14.400px !important;
}

.routePageContent .subTitle {
    font-size: var(--sizeH3);
    text-align: left;
}

.routePageContent .text {
    margin: 0;
}

.routeInfo .routeInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.routeInfo .routeInfoWrapper .routeInfoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.routeInfo .routeInfoWrapper .routeInfoItem .subTitle {
    font-size: var(--sizeH3);
    text-align: left;
}

.routeInfo .routeInfoWrapper .routeInfoItem .routeInfoSep {
    border-top: dashed 2px #fff;
    flex-grow: 1;
}

.routeInfo .routeInfoWrapper .routeInfoItem .text {
    font-size: 14px;
}

.adv .advWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.adv .advWrapper .advItem {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.adv .advWrapper .advItem .subtitle {
    font-size: var(--sizeH3);
    text-align: left;
}

@media(max-width: 1200px) {

    /* Выкладка маршрутов */
    .route .subTitle {
        text-align: center;
    }

    .route .routeWrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .route .routeWrapper .routeItem {
        height: 375px;
    }

    /* Контент маршрута */
    .routeInfo .routeInfoWrapper .routeInfoItem {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .routeInfo .routeInfoWrapper .routeInfoItem .subTitle {
        text-align: center;
    }

    .routeInfo .routeInfoWrapper .routeInfoItem .routeInfoSep {
        display: none;
    }

    .routeInfo .routeInfoWrapper .routeInfoItem .text {
        text-align: center;
    }

    .adv .advWrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .adv .advWrapper .advItem {
        gap: 10px;
    }
}

@media(max-width: 700px) {

    /* Выкладка маршрутов */
    .route .routeWrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .route .routeWrapper .routeItem {
        height: 350px;
        padding: 25px 10px;
    }

    .route .routeWrapper .routeItem .routeIcon.glass {
        padding: 10px;
        border-radius: 50%;
        margin-top: auto;
    }

    .route .routeWrapper .routeItem .routeIcon svg {
        width: 15px;
        height: 15px;
    }

    /* Контент маршрута */
    .routeInfo .routeInfoWrapper .routeInfoItem {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}