/* Баннер */
.page:nth-child(1) {
    background-image: url('/public/images/bannerBack.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page:nth-child(1):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25) !important;
    z-index: 0;
}

.page:nth-child(1) .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 100%;
    z-index: 1;
}

.page:nth-child(1) .banner .bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

/* Истории */
.history {
    max-width: calc(200px * 6 + 25px * 5);
    margin: 0 auto;
}

.history .historyWrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    grid-template-rows: 1fr;
    gap: 25px;
    overflow-x: auto;
    overflow-y: visible;
    padding-top: 10px;
    padding-bottom: 10px;
}

.history .historyWrapper .historyItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.history .historyWrapper .historyItem .historyImage {
    position: relative;
    padding: 5px;
    line-height: 0;
}

.history .historyWrapper .historyItem .historyImage:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 185px;
    height: 185px;
    padding: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(214.57deg, #FFAB42 13.34%, #8684FF 86.02%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}

.history .historyWrapper .historyItem .historyImage img {
    width: 175px;
    height: 175px;
    border-radius: 50% !important;
}