/* Баннер */
.page:nth-child(1) {
    background-image: url('/public/images/bannerBack.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(var(--vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page:nth-child(1):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--vh) * 100);
    background: rgba(0, 0, 0, 0.25) !important;
    z-index: 0;
}

.page:nth-child(1) .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 100%;
    z-index: 1;
}

.page:nth-child(1) .banner .bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.siteHeader {
    display: block;
    padding: 0;
}

.siteHeader:before,
.siteHeader:after {
    display: none;
}

.siteHeader .container {
    width: 100%;
    max-width: 100%;
    gap: 0;
}

/* Истории */
.history {
    max-width: calc(200px * 6 + 25px * 5);
    margin: 0 auto;
}

.history .historyWrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    grid-template-rows: 1fr;
    gap: 25px;
    overflow-x: auto;
    overflow-y: visible;
    padding-top: 10px;
    padding-bottom: 10px;
}

.history .historyWrapper .historyItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.history .historyWrapper .historyItem .historyImage {
    position: relative;
    padding: 5px;
    line-height: 0;
}

.history .historyWrapper .historyItem .historyImage:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 185px;
    height: 185px;
    padding: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(214.57deg, #FFAB42 13.34%, #8684FF 86.02%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}

.history .historyWrapper .historyItem .historyImage img {
    width: 175px;
    height: 175px;
    border-radius: 50% !important;
}

.seoBlock.glass {
    gap: 0;
}

.seoBlock .subTitle {
    margin-bottom: 25px;
    text-align: left;
}

@media(max-width: 1200px) {
    .history {
        max-width: calc(145px * 6 + 25px * 5);
    }

    .history .historyWrapper {
        grid-auto-columns: 145px;
    }

    .history .historyWrapper .historyItem .historyImage img {
        width: 100px;
        height: 100px;
    }

    .history .historyWrapper .historyItem .historyImage:before {
        width: 110px;
        height: 110px;
    }
}

@media(max-width: 700px) {
    .history {
        max-width: calc(125px * 6 + 25px * 5);
    }

    .history .historyWrapper {
        grid-auto-columns: 125px;
    }

    .history .historyWrapper .historyItem .historyImage img {
        width: 75px;
        height: 75px;
    }

    .history .historyWrapper .historyItem .historyImage:before {
        width: 80px;
        height: 80px;
    }
}